apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: core-services
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: mainguyenuit/auth-service:latest
          ports:
            - containerPort: 3030
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres.databases.svc.cluster.local:5432/auth_service_db
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: uit-go-secrets
                  key: POSTGRES_USER
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: uit-go-secrets
                  key: POSTGRES_PASSWORD
            - name: SPRING_REDIS_HOST
              value: redis.databases.svc.cluster.local
            - name: SPRING_REDIS_PORT
              value: "6379"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: core-services
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
    - name: http
      port: 3030
      targetPort: 3030
      protocol: TCP