apiVersion: apps/v1
kind: Deployment
metadata:
  name: trip-service
  namespace: core-services
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trip-service
  template:
    metadata:
      labels:
        app: trip-service
    spec:
      containers:
        - name: trip-service
          image: mainguyenuit/trip-service:latest
          ports:
            - containerPort: 3032
          env:
            - name: SPRING_DATA_MONGODB_URI
              value: mongodb://mongodb.databases.svc.cluster.local:27017/trip-db
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: kafka.messaging.svc.cluster.local:9092
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: trip-service
  namespace: core-services
spec:
  type: ClusterIP
  selector:
    app: trip-service
  ports:
    - name: http
      port: 3032
      targetPort: 3032
      protocol: TCP