apiVersion: apps/v1
kind: Deployment
metadata:
  name: redisinsight
  namespace: databases
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redisinsight
  template:
    metadata:
      labels:
        app: redisinsight
    spec:
      containers:
        - name: redisinsight
          image: redislabs/redisinsight:latest
          ports:
            - containerPort: 5540
          volumeMounts:
            - name: redisinsight-data
              mountPath: /db
      volumes:
        - name: redisinsight-data
          persistentVolumeClaim:
            claimName: redisinsight-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: redisinsight
  namespace: databases
spec:
  type: ClusterIP
  selector:
    app: redisinsight
  ports:
    - name: http
      port: 5540
      targetPort: 5540
      protocol: TCP
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redisinsight-pvc
  namespace: databases
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi